numpy
networkx
pandas
scipy
scikit-learn
statsmodels
pydot
matplotlib
graphviz
pygam
fastapi
uvicorn[standard]
gunicorn
causal-learn
dowhy
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability